.home{
  text-align: center;
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
}

.buitenkant_navbar{
    margin-top: 0;
}

.navbar{
  display: block;
  margin-top: 0;
  list-style-type: none;
}

