// Sass variables
$oranje: #f0813c;
$lichtoranje: #f9be7d;

$groen: #8ec04a;
$lichtgroen: #c2d677;

$blauw: #7fcbe1; 
$lichtblauw: #d2ebf4;

$roze: #f18e96;
$lichtroze: #f8c5c6;

$achtergrond: #f4e8d3;